@model IEnumerable<WorkDiary.Models.Event>

@{
    ViewData["Title"] = "AllEvents";
}

<h1>Events</h1>

<p>
    <a asp-action="CreateEvent">Create New Event</a>
</p>

@foreach (var item in Model)
{
    <div class="card" style="width: 18rem; margin-left: 5px; margin-right: 5px; float: left;">
        <div class="card-body">
            <h5 class="card-title">@Html.DisplayFor(modelItem => item.NameEvent)</h5>
            <h6 class="card-subtitle mb-2 text-muted">Type: @Html.DisplayFor(modelItem => item.TypeEvent)</h6>
            <p class="card-text">Date: @Html.DisplayFor(modelItem => item.DateTimeEvent)<br />Duration: @Html.DisplayFor(modelItem => item.DurationEvent)</p>
            @Html.ActionLink("Edit", "EditEvent", new { id = item.Id }) |
            @Html.ActionLink("Details", "EventUsers", new { id = item.Id }) |
            @Html.ActionLink("Delete", "DeleteEvent", new { id = item.Id })
        </div>
    </div>
}

