@model IEnumerable<WorkDiary.Models.User>

@{
    ViewData["Title"] = "AllUsers";
}
@Html.ActionLink("Add User", "CreateUser")<br />

@foreach (var item in Model)
{
    <div class="card" style="width: 18rem; margin-left: 5px; margin-right: 5px; float: left;">
        <div class="card-body">
            <h5 class="card-title">@Html.DisplayFor(modelItem => item.FullName)</h5>
            <h6 class="card-subtitle mb-2 text-muted">Email: @Html.DisplayFor(modelItem => item.Email)</h6>
            <p class="card-text">Position: @Html.DisplayFor(modelItem => item.Position.Name)<br />Date of Birthd: @Html.DisplayFor(modelItem => item.BirthdTime)<br />Access Level: @Html.DisplayFor(modelItem => item.AccessLevel)</p>
            @Html.ActionLink("Edit", "EditUser", new { id = item.Id }) |
            @Html.ActionLink("Details", "UserInfo", new { id = item.Id }) |
            @Html.ActionLink("Delete", "DeleteUser", new { id = item.Id })
        </div>
    </div>
}


@*<table class="table">
        <thead>
            <tr align="center">
                <th>
                    ID
                </th>
                <th >
                    Email
                </th>
                <th>
                    Full Name
                </th>
                <th>
                    Access Level
                </th>
                <th>
                    Position
                </th>
                <th>
                    Date of Birthd
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr  align="center">
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td align="left">
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td >
                    @Html.DisplayFor(modelItem => item.AccessLevel)
                </td>
                <td >
                    @Html.DisplayFor(modelItem => item.Position.Name)
                </td>
                <td >
                    @Html.DisplayFor(modelItem => item.BirthdTime)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditUser", new {  id=item.Id  }) |
                    @Html.ActionLink("Details", "UserInfo", new {  id=item.Id  }) |
                    @Html.ActionLink("Delete", "DeleteUser", new {  id=item.Id  })
                </td>
            </tr>
    }
        </tbody>
    </table>*@