@model WorkDiary.Models.User

@{
    ViewData["Title"] = "UserInfo";
}

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        @if (@ViewBag.AccessLevel == 2)
        {
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.AccessLevel)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.AccessLevel)
            </dd>
        }
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthdTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthdTime)
        </dd>
    </dl>
</div>
