@model WorkDiary.Models.User

@{
    ViewData["Title"] = "UserInfo";
}

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            ID
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            Email
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            Full Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        @if (@ViewBag.AccessLevel == 2)
        {
            <dt class="col-sm-2">
                Access Level
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AccessLevel)
            </dd>
        }
        <dt class="col-sm-2">
            Date of Birthd
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BirthdTime)
        </dd>
        <dt class="col-sm-2">
            Position
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Position.Name)
        </dd>
        <dt class="col-sm-2">
            Wage
        </dt>
        <dd class="col-sm-10">
            @{
                if (ViewBag.UserWage != null)
                { Html.DisplayText(ViewBag.UserWage.ToString()); }
                else
                { Html.DisplayText("???"); }
            }
        </dd>
    </dl>
</div>
